* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.center {
  display: flex;
  height: 100vh;
  margin: 0 10%;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  border-radius: 5px 0 0 5px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 5px 5px 0;
}

.btn {
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-family: "Lexend Deca", sans-serif;
}

.btn-sedan {
  color: hsl(31, 77%, 52%);
}

.btn-suv {
  color: hsl(184, 100%, 22%);
}

.btn-luxury {
  color: hsl(179, 100%, 13%);
}

.description > p {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 20px;
}

.btn-container {
  margin-top: 40px;
}
